# Models/finbert_ner_model.zip
# node_modules/
# Ignore node_modules in all subdirectories
node_modules/

# Ignore Python virtual environments (if any)
venv/
__pycache__/
*.pyc

# Ignore local environment files
.env

# Ignore system & IDE files
.DS_Store
.vscode/
.idea/

# Ignore build and log files
dist/
build/
*.log

# Ignore model artifacts and large files
Models/finbert_ner_model.zip
Models/*.bin
Models/*.pt
Models/*.pkl
